{% from 'templates/macros.j2' import nl2br %}
{# Base invoice template for traditional fiat payment #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        {{ style_css }}
    </style>
</head>
<body>
    <div class="invoice-container">
        <div class="header">
            <h1>{{ nl2br(company_name) }}</h1>
            <p>{{ nl2br(company_address) }}</p>
        </div>

        <div class="title">
            <h2>Invoice</h2>
        </div>
        <div class="flex-container">
            <div class="address">
                <p>UAB Tmanunet Technologies<br>
                   305951111<br>
                   V. Nageviciaus str. 3,<br>
                   08237 Vilnius<br>
                   Lithuania<br>
                   VAT ID: LT100015162112</p>
            </div>
        </div>

        <div class="flex-container">
            <div class="details">
                Date: {{ date }}
                <br>
                INV {{ '%04d'|format(invoice_number) }}
            </div>
        </div>

        <table>
            <tr>
                <th>Description</th>
                <th>Currency</th>
                <th>Quantity</th>
                <th>Price USD</th>
                <th>Amount USD</th>
                <th>Amount EUR</th>
            </tr>
            <tr>
                <td>REF.: {{ service_description }}<br>
                    provided for the period of:<br>
                   {{ invoice_from_date }} to {{ invoice_to_date }}</td>
                <td>FIAT</td>
                <td>1 month</td>
                <td>${{ '%.2f'|format(amount_usd) }}</td>
                <td>${{ '%.2f'|format(amount_usd) }}</td>
                <td>€{{ '%.2f'|format(amount_eur) }}</td>
            </tr>
            <trate>
                <tr>
                    <td colspan="4">
                        </th>
                    <td id="rate">Rate:</th>
                    <td id="usd-eur">{{ '%.4f'|format(usd_eur_rate) }} USD/EUR</td>
                </tr>
            </trate>
            <ttotal>
                <tr>
                    <th colspan="4"></th>
                    <th id="total" colspan="1">Total:</th>
                    <th>€{{ '%.2f'|format(amount_eur) }}</th>
                </tr>
            </ttotal>
        </table>

        <div class="disclaimer">
            <p>FIAT Amount Payable: From US Dollars to EUROS</p>
            <p id="declaration">I hereby declare that I understand I am responsible for my own taxes</p>
        </div>

        <div class="conversion">
            <div id="conversion-header">Currency conversion on {{ fiat_rate_date }} from:</div>
            <a href="https://data.ecb.europa.eu/currency-converter" id="fiat-conversion-url">https://data.ecb.europa.eu/currency-converter</a>
        </div>

        <div class="bank-details">
            <br>
            <p><strong>Bank Name: {{ bank_name }}</strong><br>
               {{ nl2br(bank_info) }}</p>
        </div>
    </div>
</body>
</html>

